<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Five in a row</title>
</head>

<body onload=initialize()>
    <canvas width="760px" height="760px" id="canvas_1" style="background: rgb(2, 94, 14); margin:20px">
    </canvas>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="/static/logic.js"></script>
    <p id="status">Game not ready</p>

</body>

</html>